@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap');
:root {
    --primary-color: #b99c87;
    --primary-bold-color: #2d0d08;
    --secondary-light-color: #88857e;
    --input-bg-color: #faf4f4;
    --left-p-color: #8c7560;
    --left-h1-color: #2d0d08;
    --left-bg-color: #d3c1b4;
    --btn-boxshadow-color: #b99c8735;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';
    font-size: 15px;
}
.container-fluid {
    margin-top: 4em !important;
    padding-bottom: 10em;
}

#midDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}
p {
    margin: 0;
    color: #414141;
}

.article-content {
    padding: 1em;
}

.article-card {
    border: 1px solid #e0e0f1;
    box-shadow: 0px 4px 12px rgba(65, 112, 242, 0.1);
    border-radius: 12px;
    width: 100%;
    height: 150px;
}

.article-date {
    font-size: 0.8rem;
    color: #41414190;
}

.article-img-container {
    padding: 0 !important;
}

.article-img {
    height: 150px;
    width: 100%;
    border-radius: 12px 0 0 12px;
    overflow: hidden;
}
.article-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

a,
a:hover {
    text-decoration: none;
    color: var(--primary-color);
}
